{% extends "base.html" %}
{% load url from future %}
{% load thumbnail %}
{% load static %}

{%block bodytag %}bertha-connect{% endblock %}
{% block html_title %}Bertha BRITDOC Connect Fund{% endblock %}


{% block content %}

<section class="container-fluid bd-teal-light">
	<div class="container row">
		<div class="col-sm-offset-3 col-sm-8">
		<h2 class="giant-text font-grotesque">BERTHA BRITDOC<br /> CONNECT FUND</h2>
		</div>
		</div>
	</div>
</section>
<section class="container-fluid bd-teal-light">
	<div class="container row bd-black">
		<div class="col-md-offset-1 col-md-7">
		<h4 class="bd-teal">The Bertha BRITDOC Connect Fund is the first European based outreach and engagement fund and is open to filmmakers from around the world.</h4>
		</div>
	</div>
</section>
<section class="container-fluid short bd-teal-w">
	<div class="container row text-center">
		<img src="{% static 'core/img/logos/bertha_britdoc_inverted_b.png' %}" />

	</div>
</section>
<section class="container-fluid bd-teal-light">
	<div class="container row p-t-0">
		<hr class="giant b-bd-black m-t-0" />
		
		<div class="col-sm-4 col-sm-offset-2 p-t-30">
		<p class="lead-in">The Autumn 2015 call is now closed. All applicants will be contacted within 8 weeks with a review outcome. Please <a href="javascript:;" class="underline white" data-toggle="modal" data-target="#mailing-modal">sign up for our newsletter</a> to keep updated with the next open call in Spring 2016.</p>
		{# <p class="lead-in">The Autumn 2015 call is now <a href='http://apply.britdoc.org/apply/new/bbconnect15r2' class="white underline">open for application</a>. Our next deadline is October 5th 2015.</p> #}
<p>The fund is looking to support smart, strategic outreach campaigns for ambitious independent documentary feature films with a social issue at their core; films which have the ability to achieve real change on a local, regional or global level.</p>
<p>Films have inspired people to engage and to act. They have led to changes in law, policy and practice. They have affected the way people give and/or invest money. They have led viewers to question the status quo and to care more about their communities and the world around them. But for a film to achieve all this, it needs a structured outreach and audience engagement plan, and the capacity to implement it.</p>
<p>Social impact can be achieved in a myriad of ways and we are looking for outreach plans that engage audiences, have identifiable goals and partners to help achieve them.</p>
<p>Grants will be in the range of £5,000 – £50,000. There are two application rounds per year.</p>
<p>Applications can come at the planning, trial, delivery or evaluation stage of a campaign. Films can apply more than once, for different parts or phases of a campaign.</p>
<p>If your project is highly sensitive and you would like to submit a more secure proposal, please contact Luke Moody either via initial contact: luke@britdoc.org or using the public key associated with that email. For some guidance regarding PGP email see: <a href="http://bit.ly/1BpYQg0" target="_blank" class="underline white">http://bit.ly/1BpYQg0</a>.</p>
<p>Some highlights of the first three years of the fund include:</p>
<p>The Invisible War: early support for influencer screenings on Capitol Hill in February and June 2012 off the back of a high profile Sundance premiere</p>
<p>One Mile Away: creation of an educational pilot around gang issues</p>
<p>No Fire Zone: campaign launch in India and influencer screenings ahead of a UNHRC vote</p>
<p>Unearthed: solar powered film screenings and debates around the Karoo region of South Africa</p>
<p>Judgment in Hungary: influencer screenings in Hungary with judiciary, police and Roma community</p>


		
		</div>

		<div class="col-sm-5 bd-teal padding-40 p-b-50 text-offset-md-t">
		
			{# <h2 class="inverted"><a href="http://apply.britdoc.org/apply/new/bbconnect15r2" target="_blank" class="white underline">Apply now</a></h2> #}
			<h2><a href="/static/core/pdf/bbconnectfundconditions.pdf" class="bd-black">Download T&Cs</a></h2>
			<h2><a href="/static/core/pdf/bertha-britdoc-connect-fund-q-sample.pdf" class="bd-black">Sample Q’s</a></h2>

		</div>		
		

	</div>
</section>

<section class="container-fluid">
	<div class="container row p-t-20 p-b-20">
		<div class="col-md-4">
			<h4>We do<br /> fund:</h4>
		</div>
		<div class="col-md-4">
			<h4>We don't<br /> fund:</h4>
		</div>
		<div class="col-md-4">
			<h4>For example, our<br /> funds could support:</h4>
		</div>
	</div>
</section>

<section class="container-fluid bd-teal-light">
	<div class="container row">
		<div class="col-md-4">
			<ul>
				<li>Strategic outreach campaigns for completed or almost completed documentary feature films.</li>
			</ul>
			
		</div>
		<div class="col-md-4">
			<ul>
				<li>Outreach campaigns for short documentary films or for fiction films of any length</li>
				<li>Development funding</li>
				<li>Production funding</li>
				<li>Completion funding</li>
				<li>Traditional distribution</li>
				<li>P&A spend</li>
			</ul>
			<p>Before submitting your proposal: We advise taking a look at impactguide.org for some examples and methodology behind previous documentary impact campaigns.
Terms and Conditions: Please download and review terms and conditions, including a sample contract by clicking the button on the right side of this page.
For general queries regarding your application contact our Film and Distribution Manager at luke@britdoc.org</p>
<p>Please sign up for our newsletter and follow us on facebook or twitter to keep updated with new funding rounds.</p>
		</div>
		<div class="col-md-4">
			<ul>
				<li>Funding a strategic summit with potential partners (including NGOs, Foundations, media, campaigners) to identify target audiences and brainstorm how best to use the film to augment existing campaign strategies</li>
				<li>The development and production of school curriculum packs</li>
				<li>Support for design and build of innovative online tools to enhance audience engagement</li>
				<li>Funding for the re-versioning of the feature documentary into shorts, which could be used on multiple platforms including online and on mobile devices</li>
				<li>Funding for strategic screening tours: through schools, universities and relevant community groups, for political or corporate lobbying</li>
				<li>Support for an outreach staffer to action the outreach plan, book the screening tour and act as point person between the filmmakers and NGO partners</li>
				<li>Support for evaluation analysis, capturing data on the social impact of the film</li>
			</ul>
		</div>
	</div>
</section>

<!-- <section class="container-fluid bd-teal-light">
	<div class="container row">
		<hr class="" />
		<div class="col-md-6 col-md-offset-3 p-t-20">
			<h2 class="font-grotesque">RECENTLY FUNDED FILMS</h2>
		</div>
	</div>
</section>

<section class="container-fluid text-offset-large-t">
	<div class="container">
	<ul class="two-col group text-box">
		<li class="sixteen-nine film-box" style="background: url('img/bg/bg-home.jpg');">
			<a href="#" class="block full-height">The Borneo Case<br /> More <i class="fa fa-arrow-right"></i></a>
		</li>
		<li class="sixteen-nine film-box" style="background: url('img/bg/bg-home.jpg');">
			<a href="#" class="block full-height">The Trial of Ratko Mladic<br /> More <i class="fa fa-arrow-right"></i></a>
		</li>
	</ul>
	</div>
</section> -->

{% endblock %}


