{% extends "base.html" %}
{% load url from future %}
{% load thumbnail %}
{% load static %}

{%block bodytag %}britdoc-circle{% endblock %}
{% block html_title %}Circle Fund{% endblock %}

{% block content %}

<section class="container-fluid bd-bc-purple-light">
	<div class="container row">
		<div class="col-sm-offset-3 col-sm-8">
		<h2 class="giant-text font-grotesque">BRITDOC CIRCLE<br /> FUND</h2>
		</div>
		</div>
	</div>
</section>
<section class="container-fluid bd-bc-purple-light">
	<div class="container row bd-black">
		<div class="col-md-offset-1 col-md-9">
		<h4 class="bd-bc-purple">The BRITDOC Circle Fund is a funders group bonded by a passion for enabling the very best documentary film.  The fund was set up in response to the growing demand by individual philanthropists and family foundations who are committed to helping secure a diverse and independent future for media.</h4>
		</div>
	</div>
</section>
<section class="container-fluid short bd-bc-purple-w">
	<div class="container row text-center">
		<img src="{% static 'core/img/logos/britdoc_circle_inverted_b.png' %}" />

	</div>
</section>
<section class="container-fluid bd-bc-purple-light">
	<div class="container row p-t-0">
		<hr class="giant b-bd-black m-t-0" />
		
		<div class="col-sm-4 col-sm-offset-2 p-t-30">
		<p class="lead-in">A fund reflecting the voices and concerns of creative filmmakers globally.</p>

		<p>A fund which complements existing international grantmakers, state funds and broadcast partners for maximum effectiveness.</p>
		
		<p>In its first 2 years BRITDOC Circle Fund is proud to have supported:</p>
<p>The Possibilities are Endless by James Hall and Edward Lovelace. The incredible story of Edwyn Collins, a songwriter who had the contents of his mind effectively deleted after experiencing a stroke.  Placed inside Edwyn's mind, we embark on a remarkable journey from the brink of death back to language, music, life and love.</p>
<p>Shadow World by Johan Gimonprez.  A feature documentary that reveals the shocking reality of the global arms trade.  A business which counts its profits in billions and losses in human lives.</p>
<p>The BRITDOC Circle is currently by invitation only, we are unable to accept unsolicited applications.</p>

<p>Founding members <br />Cristina Ljungberg <br />Sam Roddick <br />Lekha Singh</p>
		
		</div>

		<div class="col-sm-5 bd-bc-purple padding-40 p-b-50 text-offset-md-t">
		
			<!-- <h2 class="inverted">Apply now</h2>
			<h2><a href="" class="bd-black">Download T&Cs</a></h2>
			<h2><a href="" class="bd-black">Sample Qu’s</a></h2> -->

		</div>		
		

	</div>
</section>

<!-- <section class="container-fluid">
	<div class="container row p-t-20 p-b-20">
		<div class="col-md-4">
			<h4>We can<br /> support:</h4>
		</div>
		<div class="col-md-4">
			<h4>We don't<br /> fund:</h4>
		</div>
		<div class="col-md-4">
			<h4>To bear<br /> in mind:</h4>
		</div>
	</div>
</section>

<section class="container-fluid bd-bc-purple-light">
	<div class="container row">
		<div class="col-md-4">
			<ul>
				<li>In-depth research & development</li>
				<li>Production funding for longitudinal investigations</li>
				<li>Editorial support for long-form documentary structure</li>
				<li>Hostile Environment Training</li>
				<li>Emergency transportation</li>
				<li>Legal Advice during productionand post production</li>
				<li>Legal advice for complex E&O policies</li>
			</ul>
			
			<p><strong>Terms and Conditions</strong> Please download and review the terms and conditions, including a sample contract by clicking the buttons above.</p>
		</div>
		<div class="col-md-4">
			<ul>
				<li>30 minute or 1 hour productions intended solely for broadcast</li>
				<li>Profiles</li>
				<li>News</li>
				<li>Current affairs</li>
				<li>Fiction films</li>
				<li>Formats</li>
				<li>Series</li>
			</ul>
		</div>
		<div class="col-md-4">
			<ul>
				<li>This is a rolling fund</li>
				<li>We will be supporting feature length documentary films 65mins+ in length</li>
				<li>Grants from £5,000 to £50,000 are available</li>
				<li>Funding decisions will be made within 8 weeks of application, unless your project is an urgent response to events</li>
				<li>We are unlikely to fully fund a film so it must have international co-financing potential.</li>
				<li>We don’t fund retrospectively</li>
			</ul>
		</div>
	</div>
</section>

<section class="container-fluid bd-bc-purple-light">
	<div class="container row">
		<hr class="" />
		<div class="col-md-6 col-md-offset-3 p-t-20">
			<h2 class="font-grotesque">RECENTLY FUNDED FILMS</h2>
		</div>
	</div>
</section>

<section class="container-fluid text-offset-large-t">
	<div class="container">
	<ul class="two-col group text-box">
		<li class="sixteen-nine film-box" style="background: url('img/bg/bg-home.jpg');">
			<a href="#" class="block full-height">The Borneo Case<br /> More <i class="fa fa-arrow-right"></i></a>
		</li>
		<li class="sixteen-nine film-box" style="background: url('img/bg/bg-home.jpg');">
			<a href="#" class="block full-height">The Trial of Ratko Mladic<br /> More <i class="fa fa-arrow-right"></i></a>
		</li>
	</ul>
	</div>
</section> -->

{% endblock %}


