/* Import Skins */
@import url('slider_skins/modern/style.css');

/* Global Styles */
.isInFullScreen {
	position: fixed !important;
	top: 0 !important;
	left: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	width: 100% !important;
	height: 100% !important;
	margin: auto !important;
	z-index: 10000 !important;
}

.mSCaption {
	-webkit-transform: translateZ(0);
	   -moz-transform: translateZ(0);
	    -ms-transform: translateZ(0);
			transform: translateZ(0);
}